<html> 
    <head><title>Upload Test</title></head> 
    <body> 
      <form action="/acutserver/json_decode"
            method="post"
            enctype="application/json">
          <input name='name' value='Bender'>
            <select name='hind'>
                  <option selected>Bitable</option>
                  <option>Kickable</option>
            </select>
            <input type='checkbox' name='shiny' checked>
            <input type="submit"
                   value="submit"/>
      </form>
    </body>
</html>
