<html> 
    <head><title>Upload Test</title></head> 
    <body> 
      <form action="/acutserver/upload_img"
            method="post"
            enctype="multipart/form-data"> 
            File:
            <input type="file"
                   name="image"
                   id="id_file"/>
            <input type="TEXT"
                   name="username"
                   id="name"/>
            <input type="submit"
                   value="UPLOAD"/>

      </form>
      <form action="/acutserver/email_varification"
            method="post"
            enctype="application/json"> 
            email:
            <input type="TEXT"
                   name="email"
                   id="email"/>
            <input type="submit"
                   value="UPLOAD"/>

      </form>



    </body>
</html>
